body {
  @include list-reset;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  color: #708598;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #fafbfc;
  color: #050f19;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.btn-catalog {
  position: relative;
  padding: 9px 18px 7px 42px;
  background-color: #fed83d;
}

.btn-catalog__svg {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.roll {
  width: 107px;
}

.btn-roll {
  position: relative;
  padding: 7px 18px 7px 46px;
  border: 1px solid #eceff1;
}

.btn-roll__svg {
  position: absolute;
  top: 6px;
  left: 17px;
  width: 20px;
  height: 24px;
  z-index: 1;
}

.profile {
  padding-top: 4px;
}
